*{
  margin: 0;
  padding: 0;
}
nav{
  display: flex;
  justify-content: space-around;
  background-color: black;
  color: white;
  padding: 10px;
}
ul{
  display: flex;
  gap: 10px;
  list-style-type: none;
}

.container{
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 20px;
  padding: 0 20px;
  /* flex-wrap: wrap; */
}
.image img{
  width: 300px;
  border-radius: 20px;
  height: auto;
}


button{
  padding: 10px 20px;
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}
.text{
  margin-top: 30px;
}

@media only screen and (min-width: 768px){
  .container{
    flex-direction: row;
    justify-content: space-between;
  }

  .image img{
    width: 500px;
    border-radius: 20px;
    height: auto;
  }
  
}